# Directories
.vs/
bin/
bin-int/
build/
.xmake/
x64/
.vs/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# Exclude
!vendor/bin
vendor/
vsxmake2022/

Walnut--Modules/

# imgui
imgui.ini
Genesis/Genesis
Raytracing/Raytracing
Raytracing/Raytracing.exe
WalnutApp/WalnutApp
WalnutApp/imgui.ini.WalnutApp
spark/spark
spark/imgui.ini.spark
spark3/files
spark3/.DS_Store
spark3/libSparkChain.so
spark3/spark3
spark3/.vscode
spark3/de78a0eacf55de4ddc7a1220817d7c0cdbb1fd90
