# Directories
.vs/
bin/
bin-int/
build/
.xmake/
x64/
.vs/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# Exclude
!vendor/bin
vendor/
vsxmake2022/

Walnut--Modules/

# imgui
imgui.ini
Genesis/Genesis
Raytracing/Raytracing
Raytracing/Raytracing.exe
WalnutApp/WalnutApp
WalnutApp/imgui.ini.WalnutApp
Spark/spark
Spark/imgui.ini.spark
Spark3/files
Spark3/.DS_Store
Spark3/libSparkChain.so
Spark3/spark3
Spark3/.vscode
Spark3/de78a0eacf55de4ddc7a1220817d7c0cdbb1fd90
